.banner-workspace {
  outline: 1px gray solid;
  position: relative;
  display: inline-block;
}

.banner-text-object {
  border: 1px silver solid;
  cursor: move;
}

.banner-text-object {
  display: inline-block;
  position: absolute!important;
}

.banner-text-object span {
  display: inline-block;
}

.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }
.ui-resizable-helper { border: 1px dotted gray; }

.activated {
  outline: 2px blue dotted;
}